.card {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.card:hover {
  background-color: black;
}

.card > a > header > span {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card:hover > a > header > span {
  opacity: 0.5 !important;
}

.card > a > header > div {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.7rem;
  border-radius: 100%;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0;
}

.card:hover > a > header > div {
  opacity: 1;
}

.card > a > footer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transition: opacity 0.4s;
  opacity: 0;
}

.card:hover > a > footer {
  opacity: 1;
}

.card > a > footer > span {
  font-size: 14px;
}

.card > a > footer > h3 {
  margin: 0.5rem 0 0;
}
